<h2>Update a Discount</h2>
<div *ngIf="Discount">
<label >name:</label>
<input  [(ngModel)]="Discount.Name">
<br/>
<label>Description:</label>
<input  [(ngModel)]="Discount.Description">
<br/>
<label>offertype:</label>
<input  [(ngModel)]="Discount.DiscountOfferType">
<br/>
<label>startdate:</label>
<input  [(ngModel)]="Discount.Startdate">
<br/>
<label>expirydate:</label>
<input  [(ngModel)]="Discount.Expirydate">
<br/>
<label>Terms and conditions:</label>
<input  [(ngModel)]="Discount.TermsAndConditions">
<br/>
<label>organisation id:</label>
<input [(ngModel)]="Discount.OrganisationID">
<br/>
<br/>
<button (click)="goBack()">Back</button>
<button (click)="updateDiscount();" >Update</button>
</div>





