<h1>Discounts in findit project</h1>
<a routerLink="/createDiscount">Create Discount</a>

<ul>
  <li *ngFor="let discount of Discounts">
    <a class="detail" routerLink="/discount/{{discount.ID}}">
  <p>Name: {{discount.Name}}</p>
  <p>Description: {{discount.Description}}</p>
  <p>Discount type: {{discount.DiscountOfferType}}</p>
  <p>Start date: {{discount.Startdate}}</p>
  <p>End date: {{discount.ExpiryDate}}</p>
  <p>ID: {{discount.ID}}</p>
  <p>OrganisationID: {{discount.OrganisationID}}</p> 
  <p>Terms and Conditions: {{discount.TermsAndConditions}}</p> 
</a>
<br>

  <button (click)="deleteDiscount(discount);">  Delete</button>
  <button routerLink="/discount/{{discount.ID}}">update</button>
</li>
</ul>