<!-- <div ng-init="wallpaper = 'doge.jpg'"> -->
  <div>
  <!-- <img ng-src="{{wallpaper}}"> -->
  <h1>
LocationFinder
  </h1>

  <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/findit">FindIt products</a>
      <a routerLink="/discounts">findit discounts </a>
      <a routerLink="/external">external api</a>
  </nav>
<h1>Website needs to manually reload 1 or 2 times after create, delete and update to see the current data.</h1>
<!-- <img ng-src="wallpaper" alt=""> -->

  <router-outlet></router-outlet>

</div>
